<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licenciatura TSIW</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div id="navbar-container"></div>
    <div class="flex justify-center">
        <table class="table-auto border-solid border-2 border-sky-500 w-4/5 mx-auto" id="userTable">
            <tr>
                <th>id</th>
                <th>email</th>
                <th>detalhes</th>
                <th>eliminar</th>
            </tr>
        </table>
    </div>
</body>
<script type="module" src="/js/admin/main.js"></script>

</html>