<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Licenciatura TSIW</title>
</head>
<body class="bg-gray-100">
    <form id="registrationForm" class="max-w-md mx-auto bg-white p-8 rounded shadow-md mt-8">
        <h2 class="text-2xl font-semibold mb-4">Register Form</h2>
        <label class="block text-sm font-medium text-gray-600" for="name">Nome:</label>
        <input class="w-full px-4 py-2 mt-2 rounded border focus:outline-none focus:border-blue-500" type="text" id="name" name="name" required>

        <label class="block text-sm font-medium text-gray-600" for="dob">Data De Nascimento:</label>
        <input class="w-full px-4 py-2 mt-2 rounded border focus:outline-none focus:border-blue-500" type="date" id="dob" name="dob" required>

        <label class="block text-sm font-medium text-gray-600" for="sex">Gênero:</label>
        <select class="w-full px-4 py-2 mt-2 rounded border focus:outline-none focus:border-blue-500" id="sex" name="sex" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>

        <label class="block text-sm font-medium text-gray-600" for="location">Localidade:</label>
        <input class="w-full px-4 py-2 mt-2 rounded border focus:outline-none focus:border-blue-500" type="text" id="location" name="location" required>

        <label class="block text-sm font-medium text-gray-600" for="email">Email:</label>
        <input class="w-full px-4 py-2 mt-2 rounded border focus:outline-none focus:border-blue-500" type="email" id="email" name="email" required>

        <label class="block text-sm font-medium text-gray-600" for="password">Password:</label>
        <input class="w-full px-4 py-2 mt-2 rounded border focus:outline-none focus:border-blue-500" type="password" id="password" name="password" required >

        <button type="submit" class="w-full mt-8 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-300" >Register</button>
        <p class="text-center mt-4">Já tem uma conta? <a class="text-blue-500 font-semibold" href="/views/LoginView.html">Login</a></p>

    </form>
</body>
<script type="module" src="/js/register.js"></script>
</html>